<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-light" (click)="previousPage()">
    <i class="fas fa-angle-double-left"></i>
  </button>
  <button type="button" class="btn btn-light" (click)="previousPage()">
    <i class="fas fa-angle-left"></i>
  </button>

  <!-- Render buttons based on the pageSizeArray -->
  <button type="button" class="btn btn-light" *ngFor="let page of pageSizeArray" (click)="goToPage(page)">{{ page }}</button>

  <button type="button" class="btn btn-light" (click)="nextPage()">
    <i class="fas fa-angle-right"></i>
  </button>
  <button type="button" class="btn btn-light" (click)="nextPage()">
    <i class="fas fa-angle-double-right"></i>
  </button>
</div>
