<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit User</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
         <!-- Profile picture card-->
         <div class="card mb-4 mb-xl-0">
          <div class="card-header">Profile Picture</div>
          <div class="card-body text-center">
              <!-- Profile picture image-->
              <img class="img-account-profile rounded-circle mb-2" [src]="userInput.imageUrl" alt="">
    
          </div>
      </div>

        <form [formGroup]="updateForm" *ngIf="updateForm">
            <div class="form-group">
              <label for="username">Username:</label>
              <input
                type="text"
                class="form-control"
                value=""
                id="username"
                name="username"
                formControlName="username"
                placeholder="write the user name"
              />
            </div>
            <div class="form-group">
              <label for="fullname">FullName:</label>
              <input
                type="text"
                class="form-control"
                value=""
                id="fullname"
                name="fullname"
                formControlName="fullname"
                placeholder="write the fullname"
              />
            </div>
            <div class="form-group">
              <label for="class">Class:</label>
              <input
                type="text"
                class="form-control"
                value=""
                id="price"
                name="price"
                formControlName="class"
                placeholder="Tapez la description"
              />
            </div>
            <div class="form-group">
              <label for="phone">Phone:</label>
              <input
                type="number"
                class="form-control"
                value=""
                id="phone"
                name="phone"
                formControlName="phone"
                placeholder="write the phone number"
              />
            </div>
            
            
    
            <div class="modal-footer">
              <button
                type="submit"
                (click)="updateUser()"

                class="btn btn-primary"
                data-bs-dismiss="modal"
              >
                Submit
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </form>
      </div>
    </div>
</div>
