<div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Announcement</h5>
          <button (click)="onClose()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
          <form #addForm='ngForm' (ngSubmit)="add(addForm)" >
          <div class="form-group">
             <label for="date">Date:</label>
             <input type="date" class="form-control" id="date" name="date"
                ngModel #fn="ngModel" required
                placeholder="Tapez la date">
          </div>
          <div class="form-group">
             <label for="description">Description:</label>
             <input type="text" class="form-control" id="description" name="description"
                ngModel #fn="ngModel" required
                placeholder="Tapez la description">
          </div>
          <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" class="form-control" id="price" name="price"
               ngModel #fn="ngModel" required
               placeholder="Tapez le prix">
         </div>
         <div class="form-group">
            <label for="places">Places:</label>
            <input type="number" max="4" min="1" class="form-control" id="places" name="places"
               ngModel #fn="ngModel" required
               placeholder="Tapez le nombre de places ">
         </div>
          <div class="form-group">
               </div>
               <hr>
               <app-list-drag-and-drop (onMoveItem)="onMoveItem($event)" (removeItemNotify)="onRemoveItem($event)" [adresses]="adresses"/>                
               &nbsp;
               <div *ngIf="!isMapVisible">              
                   <button (click)="OnAddAdress()" type="button" class="btn btn-primary" >Add Stop</button>
               </div>
              <div *ngIf="isMapVisible">
               <app-map-container id="map" [markers]="markers" (OnAddMarker)="onAddMarker($event)"></app-map-container>
            </div>
          <div class="modal-footer">
          <button type="submit" class="btn btn-primary"data-bs-dismiss="modal">Save</button>
          <button (click)="onClose()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
          </form>
         
         
       </div>
    </div>
</div>

