.example-form {
    display: flex;
    justify-content: center;
  }
  
  .example-full-width {
    width: 50%; /* Vous pouvez ajuster la largeur selon vos besoins */
  }
  
  .example-textarea {
    font-size: 14px; /* Définissez la taille de la police pour la zone de texte */
  }

  