.example-form {
  display: flex;
  justify-content: center;
}

.example-full-width {
  width: 50%; /* Vous pouvez ajuster la largeur selon vos besoins */
}

.example-textarea {
  font-size: 14px; /* Définissez la taille de la police pour la zone de texte */
}
.example-spacer {
  flex: 1 1 auto;
}
.custom-toolbar {
  background-color: #c8838b; /* Couleur rose Instagram */
  /* Autres styles personnalisés */
}
.button-clor {
  background-color: #b63f4d;
  color: white;
}
.custom-toolbar .toolbar-text {
  color: white; /* Couleur du texte en blanc */
}

.colorSection{
  background-color: rgb(249, 249, 249);
}
.action {
  justify-content: space-between;
}

.action button {
  flex: 2;
  margin-right: 10px; /* Pour ajouter un espace entre les boutons */
}

.report-container {
 
   flex: 2;
  margin-right: 10px;
}
app-chat-boot {
position: fixed;
bottom: 20px; /* Ajustez la valeur selon votre préférence */
right: 20px; /* Ajustez la valeur selon votre préférence */
/* z-index: 1000; /* Assurez-vous que l'élément app-chat-boot est au-dessus des autres éléments */
}

.post-image-container {
max-width: 500px; /* Set maximum width for the image container */
margin: 0 auto; /* Center the image horizontally */
}

.post-image {
width: 300px; /* Définissez la largeur de l'image */
height: 50px; /* Automatically adjust the height while maintaining aspect ratio */
display: block; /* Remove any extra space below the image */
max-height: 50px; /* Set maximum height for the image */
}


