<div class="card-body custom-background" style="overflow-y: auto; max-height: 600px;">
    <h4 style="margin-left: 130px">Comments</h4>
    <!-- Utilisez la classe display-6 pour un titre plus grand -->
    <div *ngIf="hasComments(idPost)">
        <hr>
        <!-- Paginer la liste de commentaires -->
        <div *ngFor="let comment of paginatedCommentList" class="comment-container card mb-3 ">
            <div class="d-flex align-items-start">
                <div class="flex-grow-1">
                     <!--user--> <img src="assets/avatar.png" class="rounded-circle me-3" width="50" height="50" alt="User Avatar">                                      
                            <!--afficher user-->       <strong>{{ userName[comment.idCommentPost] }}</strong>
                    <p class="comment-meta">{{ comment.commentedAt | date:'MMM d, y h:mm a' }}</p>
                    <p>{{ comment.commentBody }}</p>
                    <div class="comment-actions">
                        
                        <button class="btn btn-link btn-sm me-2"  (click)="addTypeReaction(comment.idCommentPost,0)">
                            <i class="bi bi-emoji-kiss"></i> 
                            <span *ngIf="reactionCounts[comment.idCommentPost]?.LIKE !== undefined">
                                {{ reactionCounts[comment.idCommentPost]?.LIKE }}
                            </span>
                        </button>
                        <button class="btn btn-link btn-sm me-2"(click)="addTypeReaction(comment.idCommentPost, 1)">
                            <i class="bi bi-emoji-frown"></i>
                            <span *ngIf="reactionCounts[comment.idCommentPost]?.DISLIKE !== undefined">
                                {{ reactionCounts[comment.idCommentPost]?.DISLIKE }}
                            </span>
                        </button>

                        <button class="btn btn-link btn-sm me-2"(click)="addTypeReaction(comment.idCommentPost, 2)">
                            <i class="bi bi-heart"></i>
                            <span *ngIf="reactionCounts[comment.idCommentPost]?.LOVE !== undefined">
                                {{ reactionCounts[comment.idCommentPost]?.LOVE }}
                            </span>
                        </button>
                        <button class="btn btn-link btn-sm me-2"(click)="addTypeReaction(comment.idCommentPost, 3)">
                            <i class="bi bi-emoji-angry"></i>
                            <span *ngIf="reactionCounts[comment.idCommentPost]?.ANGRY !== undefined">
                                {{ reactionCounts[comment.idCommentPost]?.ANGRY }}
                            </span>
                        </button> 

                        <button [disabled]="!(hasReplies(comment.idCommentPost))" class="btn btn-link btn-sm" (click)="showReplies(comment.idCommentPost)">
                            <i class="bi bi-chat"></i> View Replies
                            <span class="badge bg-secondary" *ngIf="(commentReplayCounts[comment.idCommentPost] | async) > 0">
                                {{ (commentReplayCounts[comment.idCommentPost] | async) }}
                            </span>
                        </button>
                    </div>
                    <div *ngIf="hasReplies(comment.idCommentPost)" class="reply-list">
                        <div *ngFor="let reply of commentReplies[comment.idCommentPost] | async" class="reply-container card mb-3">
                             <!--user--> <img src="assets/avatar.png" class="rounded-circle me-3" width="50" height="50" alt="User Avatar">                                      
                            <!--afficher user-->       <strong>{{ userNameReplies[reply.idCommentPost] }}</strong>
                            <p class="comment-meta">{{ reply.commentedAt | date:'MMM d, y h:mm a' }}</p>
                            <p>{{ reply.commentBody }}</p>
                            <button class="btn btn-link btn-sm"><i class="bi bi-heart"></i> Like</button>
                        </div>
                    </div>
                    <app-add-replycommentf [idComm]="comment.idCommentPost"></app-add-replycommentf>
                </div>
            </div>
        </div>
        <!-- Ajouter des boutons de pagination -->
        <nav aria-label="Comment Pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item" *ngFor="let pageNumber of getPageNumbers()" [class.active]="pageNumber === currentPage">
                    <a class="page-link" (click)="setCurrentPage(pageNumber)">{{ pageNumber }}</a>
                </li>
            </ul>
        </nav>
    </div>
    <a mat-raised-button [mat-dialog-close]="false" class="bi bi-x-circle-fill">Cancel</a>

</div>
