<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Spring Boot WebSocket Chat Application | CalliCoder</title>
</head>
<body background="assets/18.jpg"
      style="background-position: center; background-repeat: no-repeat; background-size: cover;">
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>


<div class="chat_window">
  <div class="top_menu">
    <div class="buttons">
      <div class="button close" (click)="gotoList()"></div>
      <div class="button minimize"></div>
      <div class="button maximize"></div>
    </div>
    <div class="title">
      Start Chating ...
    </div>
  </div>
  <ul class="messages">
    <li class="message right" *ngFor="let item of messageList"
    [ngClass]="{'left': item.message_side === 'receiver', 'right': item.message_side === 'sender'}"
    >
      <div class="avatar"></div>
      <div class="text_wrapper">
        <div class="text">{{item.message}}</div>
      </div>
    </li>
  </ul>
  <div class="bottom_wrapper clearfix">
    <div class="message_input_wrapper">
      <input class="message_input" placeholder="Message..." [(ngModel)]="messageInput" 
      (keyup.enter)="sendMessage()"/>
    </div>
    <div class="send_message" (click)="sendMessage()">
      <div class="icon"></div>
      <div class="text">Send</div>
    </div>
  </div>
</div>

</body>
</html>
