

.action {
    justify-content: space-between;
}
.sticky-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* Assurez-vous que le z-index est supérieur à celui de tout autre élément qui pourrait se superposer */
    background-color: white; /* Vous pouvez personnaliser la couleur de fond selon vos besoins */
}
