
  <div class="card-body">
    <h5></h5>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="row">

      <div class="col-md-6">
      
        <div class="row">
                    <!--Registration number-->

            <mat-form-field appearance="outline">
                <mat-label>Registration Number</mat-label>
                <input matInput type="text" placeholder="Registration number" formControlName="registrationNumber">
            </mat-form-field>
                    <!--Model-->

            <mat-form-field appearance="outline">
                <mat-label>Model</mat-label>
                <input matInput placeholder="Model" formControlName="model">
            </mat-form-field>

            

        </div>
        <!--Places-->

        <div class="row">
          <mat-form-field appearance="outline">
            <mat-label>Number of Places</mat-label>
            <input matInput placeholder="places" type="number" formControlName="places">
            <mat-error *ngIf="myForm.get('places').hasError('exceedsPlaces')">
              Maximum 4 places are allowed.
            </mat-error>
          </mat-form-field>
          
        </div>

        <div class="row">
            <!--Smoking-->
              <mat-radio-group aria-label="Select an option" formControlName="smoking">
                  <mat-label><b>Smoking Allowed:</b></mat-label>
                  <mat-radio-button value="true">Yes</mat-radio-button>
                  <mat-radio-button value="false">No</mat-radio-button>
              </mat-radio-group>
           <!--Conditioned-->
  
              <mat-radio-group aria-label="Select an option" formControlName="airConditioned">
                  <mat-label><b>Air Conditioned:</b></mat-label>
                  <mat-radio-button value="true">Yes</mat-radio-button>
                  <mat-radio-button value="false">No</mat-radio-button>
              </mat-radio-group>
          </div>
      </div>

      <div class="col-md-6">


        
        <!--Image-->

        <div class="form-group">
          <label for="image">Image:</label>
          <input type="file" #fileInput (change)="onFileInput(fileInput.files)" class="form-control">
          <br>
          <img [src]="imgUrl"  width="200px" height="200px" />

          
        </div>
        
      </div>



      <div class="col-12">
        <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Add Car</button>
      
        <a mat-raised-button [mat-dialog-close]="false" class="bi bi-x-circle-fill">Cancel</a>

      </div>
    </form>
  </div>
  