.custom-react {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.8vw;
    color: rgb(9, 151, 203);

}

.custom-react .custom-btn {

    margin-right: 1%;
    cursor: pointer;



}


.custom-rating {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.3vw;
    color: orange;

}

.custom-rating .star {

    cursor: pointer;


}

.hero-wrap {
    position: relative;
    background-size: cover;
    background-position: center center;
}

.hero-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Opacité réglable */
}

.hero-wrap .breadcrumbs {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}

.hero-wrap .breadcrumbs a {
    color: #fff;
}

.hero-wrap h1 {
    color: #fff;
    font-size: 36px;
}

/* Styles pour la section d'annonce */
.ftco-section {
    padding: 60px 0;
}

.heading-section .subheading {
    display: block;
    font-size: 16px;
    color: #666;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.heading-section h2 {
    font-size: 28px;
    font-weight: 700;
    color: #333;
    margin-bottom: 30px;
}

/* Styles pour les boutons */
.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #545b62;
}

/* Styles pour les modals */
.modal-dialog {
    max-width: 600px;
}

.modal-title {
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    justify-content: flex-start;
}

/* Styles pour les cartes */
.card {
    margin-top: 30px;
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 60%;
    /* Modifier la largeur pour qu'elle prenne toute la largeur disponible */
}

.card-body {
    padding: 30px;
}

.card-body h5 {
    font-size: 24px;
    /* Réduire la taille de la police pour la rendre plus lisible */
    font-weight: 700;
    margin-bottom: 20px;
}

.card-body hr {
    border-top: 1px solid #eee;
}

/* Styles pour les tables */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody+tbody {
    border-top: 2px solid #dee2e6;
}

/* Styles pour les boutons d'édition et de suppression */
.btn-edit,
.btn-delete {
    margin-left: 10px;
    color: #007bff;
}

.btn-edit:hover,
.btn-delete:hover {
    text-decoration: underline;
}

/* Styles pour les formulaires */
.form-group {
    margin-bottom: 10px;
}

label {
    font-weight: 700;
}

textarea.form-control {
    resize: none;
}

/* Styles pour les boutons de soumission */
.btn-submit {
    margin-top: 10px;
}

/* Autres styles */
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.agenda-wrapper {
    width: 300px;
    /* Ajuste la largeur selon tes besoins */
    height: 100px;
    /* Ajuste la hauteur selon tes besoins */
    position: absolute;
    top: 0;
    /* Positionne l'élément au sommet */
    left: 0;
    /* Aligne l'élément sur la gauche */
    margin-right: 20px;
    /* Ajoute un espacement à droite pour séparer l'agenda du reste du contenu */
}


.selectpicker option {
    border: none;
    background-color: white;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #14B1B2;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    padding-left: 0;
    margin-top: -20px;
    background: none;
}

select.selectpicker {
    border: none;
    background-color: white;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #14B1B2;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    padding-left: 0;
    margin-top: -20px;
    background: none;
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }




.users-filtered{

    width: 100%;
    cursor: pointer;
    color: black !important;
    border-radius: 0.4vw;

}

.users-filtered strong{

    padding: 2%;
    padding-top: 4%;
    padding-bottom: 0;
    font-size: 1vw;

}


.users-filtered p{

    font-size: 1.2vw;
    padding: 2%;

}

.users-filtered:hover{

    background-color: #dee2e6;

}

