<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="profile-card">
                <div class="profile-content">
                    <div class="profile-image">
                        <img class="img-fluid rounded-circle" src="{{ user.imageUrl }}" alt="Profile Image">
                    </div>
                    <div class="profile-details">
                        <h5 class="text-center">{{ user.fullname }}</h5>
                        <p><strong>Username:</strong> {{ user.username }}</p>
                        <p><strong>ID:</strong> {{ user.espritId }}</p>
                        <p><strong>Email:</strong> {{ user.email }}</p>
                        <p><strong>Phone:</strong> {{ user.phone }}</p>
                        <p><strong>Class:</strong> {{ user.niv }}</p>
                        <p><strong>Gender:</strong> {{ user.gender }}</p>
                        <p><strong>Birth Date:</strong> {{ user.birthDate.toString().replaceAll(",", "/") }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
