
    <form [formGroup]="validateForm" (ngSubmit)="updateHouse()">
      <div class="form-group">
        <label for="image">Image:</label>
        <input type="file" class="form-control" accept="image/*"  (change)="onFileChange($event)" id="image" />
      </div>
     
      <div class="form-group">
        <label for="houseType">House Type:</label>
        <input type="text" class="form-control" formControlName="houseType" id="houseType" />
      </div>
      <div class="form-group">
        <label for="places">Places:</label>
        <input type="number" class="form-control" formControlName="places" id="places" />
      </div>
      <!-- Ajouter les champs manquants ici -->
      <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" class="form-control" formControlName="location" id="location" />
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" formControlName="description" id="description" />
      </div>
      <div class="form-group">
        <label for="nbrofBedrooms">Number of Bedrooms:</label>
        <input type="number" class="form-control" formControlName="nbrofBedrooms" [value]="nbrofBedrooms" id="nbrofBedrooms" />
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" class="form-control" formControlName="price" id="price" />
      </div>
      <!-- Fin des champs manquants -->
      <button type="submit" class="btn btn-primary">Add</button>
    </form>

  