<div class="card-body">

<div class="container">
    <div *ngIf="post" class="row">
      <!-- Column for Post Content -->
      <div class="col-md-8">
        <h4>{{ post.postTitle }}</h4>
        <img [src]="post.image" width="200px" height="200px">
        <p><span style="font-weight: bold; color: black;">Description :</span> {{ post.body }}</p>
        <p style="color: #8c8c8c; font-size: 12px; margin-top: 10px;">{{ post.createdAt | date:'MMM d, y h:mm a' }}</p>
       
        <button class="btn btn-link btn-sm me-2">
          <i class="bi bi-emoji-kiss"></i> 
          <span *ngIf="reactionCounts[post.idPost]?.LIKE !== undefined">
              {{ reactionCounts[post.idPost]?.LIKE }}
          </span>
      </button>
      <button class="btn btn-link btn-sm me-2">
          <i class="bi bi-emoji-frown"></i>
          <span *ngIf="reactionCounts[post.idPost]?.DISLIKE !== undefined">
              {{ reactionCounts[post.idPost]?.DISLIKE }}
          </span>
      </button>
      <button class="btn btn-link btn-sm me-2">
          <i class="bi bi-heart"></i>
          <span *ngIf="reactionCounts[post.idPost]?.LOVE !== undefined">
              {{ reactionCounts[post.idPost]?.LOVE }}
          </span>
      </button>
      <button class="btn btn-link btn-sm me-2">
          <i class="bi bi-emoji-angry"></i>
          <span *ngIf="reactionCounts[post.idPost]?.ANGRY !== undefined">
              {{ reactionCounts[post.idPost]?.ANGRY }}
          </span>
      </button>
      
        <!-- Comments Section -->
        <div *ngIf="hasComments(post.idPost)">
          <hr>
          <div *ngFor="let comment of commentList | async" class="comment-container">
            <div class="d-flex align-items-start">
              <!--user <img src="assets/avatar.jpg" class="rounded-circle me-3" width="50" height="50" alt="User Avatar">-->
              <div class="flex-grow-1">
                <p class="mb-0">
                  <!--afficher user <strong>{{ comment.userCommentPost.username }}</strong>-->
                  <span style="color: #8c8c8c; font-size: 12px; margin-top: 10px;">
                    {{ comment.commentedAt | date:'MMM d, y h:mm a' }}</span>
                </p>
                <p>{{ comment.commentBody }}</p>
                
                <div class="d-flex align-items-center">
                  <button class="btn btn-link btn-sm me-2"><i class="bi bi-heart"></i> Like</button>
                  <button [disabled]="!(hasReplies(comment.idCommentPost))" class="btn btn-link btn-sm" (click)="showReplies(comment.idCommentPost)">
                    <i class="bi bi-chat"></i>View Replies  <span class="badge bg-secondary" *ngIf="(commentReplayCounts[comment.idCommentPost] | async) > 0">
                        {{ (commentReplayCounts[comment.idCommentPost] | async) }}
                      </span>
                  </button>
                </div>
                <!-- Replies Section -->
                <div *ngIf="hasReplies(comment.idCommentPost)" class="reply-list">
                  <ul>
                    <div *ngFor="let reply of commentReplies[comment.idCommentPost] | async">
                        
                        <p class="mb-0">
                            <!--afficher user <strong>{{ comment.userCommentPost.username }}</strong>-->
                            <span style="color: #8c8c8c; font-size: 12px; margin-top: 10px;">
                                {{ reply.commentedAt | date:'MMM d, y h:mm a' }}</span>
                          </p>
                          <p> {{ reply.commentBody }}</p>
                          <button class="btn btn-link btn-sm me-2"><i class="bi bi-heart"></i> Like</button>

                        </div>

                  </ul>
                </div>
              </div>
            </div>                                                    
          </div>
        </div>
      </div>

      <!-- Column for Post Actions -->
      <div class="col-md-4">
        <div class="row align-items-center">
          <div class="col-md-4">
            <!-- Comments Button -->
            <button [disabled]="!(hasComments(post.idPost))" class="btn btn-link btn-lg" (click)="showComments(post.idPost)">
              <i class="bi bi-chat-left-text-fill"></i>
              <span class="badge bg-secondary" *ngIf="(commentCounts[post.idPost] | async) > 0">
                {{ (commentCounts[post.idPost] | async) }}
              </span>
            </button>
          </div>
          <div class="col-md-4">
            <button [disabled] class="btn btn-link btn-lg"><i class="bi bi-emoji-heart-eyes-fill"></i></button>
          </div>
          <div class="col-md-4">
            <button [disabled] class="btn btn-link btn-lg"><i class="bi bi-share-fill"></i></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Row for Back to List Link -->
    <div class="row mt-3">
      <div class="col-md-12 text-end">
        <button mat-raised-button type="button" [mat-dialog-close]="false" class="btn btn-secondary">Cancel</button>

      </div>
    </div>
  </div>
  </div>
