<div class="container mt-5"> <!-- Added mt-5 to create space from the top -->
<div class="container">
    <div class="col-md-6 mx-auto">
      <div class="card card-container p-4">
        <img
          id="profile-img"
          src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
          class="profile-img-card mx-auto d-block mb-4"
          alt="User Avatar"
        />
        <h2>Forgot Password</h2>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username">
        </div>
        <button type="submit" class="btn button-65 mx-auto" (click)="onSubmit()">Submit</button>
        <div *ngIf="message" class="mt-3 alert alert-warning">{{ message }}</div>
      </div>
    </div>
  </div>
</div>
  